.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  padding: 0px 20px;
  height: 100vh;

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .back-button {
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .search-box {
    display: flex;
    align-items: center;
    margin: 20px 0;

    input {
      padding: 8px;
      width: 280px;
      height: 32px;
      border-radius: 200px;
      border: 1px solid #D2D2D2;
    }
  }


  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px 0;
      display: block;
      align-items: center;
      cursor: pointer;
      color: #555;
      transition: background-color 0.3s ease;
      margin-bottom: 5px;

      span {
        margin-right: 20px;
      }

      &:hover {
        background-color: #E6F5F0; // Lighter hover color
        margin-left: -20px;
        margin-right: -20px;
        padding: 10px 20px;
      }

      &.active {
        background-color: #CCF2E2; // Highlight color when selected
        margin-left: -20px;
        margin-right: -20px;
        padding: 10px 22px;
      }
    }
  }
}

.sidebar {
  // Default styles for expanded mode

  &.compact {
    width: 50%; // Adjust width for compact mode

    .sidebar-header,
    .search-box {
      display: none;
    }

    .sidebar-menu li {
      justify-content: center; // Center the icons

      span {
        margin-right: 0; // Remove the margin when in compact mode
      }
    }

    .menu-icon-wrapper {
      display: flex;
      justify-content: center;
      padding: 10px 0;
    }
  }
}

.dropdown-menu {
  margin-top: 0.5rem;
  padding-left: 1rem;
  list-style: none;

  .dropdown-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.25rem 0;

    .dropdown-icon {
      font-size: 1rem; // Adjust size as needed
    }
  }
}

.dropdown-menu {
  padding: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content button {
  margin: 0.5rem;
}